In [1]:
import sqlite3

In [2]:
con=sqlite3.connect("student.db")
con.execute("create table students(id int,name text,age int)")
con.execute("insert into students values(123,'zhangsan',19)")
con.execute("insert into students values(234,'lisi',19)")

In [15]:
def check(con,name):
    sql=f"select * from students where name='{name}'"
    print(sql)
    cursor=con.execute(sql)
    for entry in cursor:
        print(entry)

In [5]:
check(con,"zhangsan")

(123, 'zhangsan', 19)

In [18]:
check(con,"abc' or true -- ")

select * from students where name='abc' or true -- '
(123, 'zhangsan', 19)
(234, 'lisi', 19)

In [27]:
def check2(con,name):
    sql="select * from students where name=?"
    cursor=con.execute(sql,(name,))
    for entry in cursor:
        print(entry)

In [30]:
check2(con,"zhangsan")

(123, 'zhangsan', 19)

In [31]:
check2(con,"abc' or true --")

In [32]:
data={
    (125,"zhouwu",20),
    (126,"acb",21),
    (127,"abc",22),
}
con.executemany("insert into students values (?,?,?)",data)